# Traefik
ACME_EMAIL=ops@kkh-hub.tech
TRAEFIK_DASHBOARD_AUTH=admin:example-bcrypt-hash-escaped-for-compose

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example-postgres-password
POSTGRES_DB=postgres

# Redis
REDIS_PASSWORD=example-redis-password
